@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",Helvetica;
}

body,
html{
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
    display: flex;
    background: #EFEFEF;
}

main{
    display: flex;
    flex-direction: row;
}

img{
    background: #111;
    clip-path: circle(50% at 50% 50%);
    width: 350px;
    height: 350px;
    cursor: pointer;
    filter: grayscale(1);
    transition: all 500ms ease-in-out;
    background-color: #e8e8e2;
}

img:hover{
    filter: grayscale(0);
}

section{
    height: 100vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    gap: 3rem;
}


.social-media{
    font-size: 30px;
    cursor: pointer;
}

.social-media a{
    color: black;
}


.btns button{
    width: 150px;
    height: 35px;
    color: #EFEFEF;
    background: #4D4D4D;
    border: none;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    font-size: 1.4rem;
}

.btns button:hover{
    background: transparent;
    border: 1.5px solid black;
    color: black;
}

i{
    transition: all .3s ease-in-out;
}

i:hover{
    color: #4D4D4D;
}

@media screen and (max-width: 900px){
    main{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        margin: 3rem 0;
}
  
    aside{
    margin-top: 1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
    p{
    width: 300px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
 }

    section{
        align-self: center;
        width: 100vw;
        margin-bottom: 20px;
    }

    img{
        width: 250px;
        height: 250px;
    }
    button{
        width: 300px;
        height: 70px;
    }
}